.header-color {
  background: #800080;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.landing-grid {
  background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 text-align: center;
 position: relative;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%
}

.image {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;

}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;

}

.res {
  font-size: 20px;
  color: crimson;
}

.social-links {
 display: flex;
 justify-content: space-between;
 width: 50%;
 margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  
  
}



.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

.foot {
  text-align: center;
  color: rgb(231, 232, 163);
 height: 24px;

}
